html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
body,html{
  background:#ebe2d3;
  margin:0;
  padding:0;
  width:100%;
  min-width:350px;
  font-family: 'Outfit', sans-serif;
}
.titleContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
.mainTitle {
  margin-top:6vw;
  font-size:15vw;
  line-height: 15vw;
  color:#ccc409;
}
.maintTitleSmall {
  font-size:12vw;
}
.subTitle {
  margin-bottom:auto;
  margin-top:2rem;
  font-size:4vw;
  line-height: 4vw;
  color:#aba40b;

}