# .htaccess racine

# Désactiver l'affichage des dossiers
Options -Indexes

# Activer la réécriture
RewriteEngine On

# Définir la base (important chez certains hébergeurs)
RewriteBase /

# --- RÈGLES DE ROUTAGE ---

# 1. Si c'est un fichier existant (image, css, js), on ne touche pas
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# 2. Si c'est un dossier existant (ex: admin/), on ne touche pas
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 3. Tout le reste est redirigé vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]