# public/.htaccess

# Activation du moteur de réécriture
RewriteEngine On

# Désactive le "content negotiation" (évite des conflits si tu as un dossier "contact" et un fichier "contact.php")
Options -MultiViews

# Si le fichier demandé existe réellement (image, css, js...), on le sert directement
RewriteCond %{REQUEST_FILENAME} !-f

# Si le dossier demandé existe réellement (ex: /admin/), on le sert directement
RewriteCond %{REQUEST_FILENAME} !-d

# Pour tout le reste, on envoie vers index.php qui gérera le routing
RewriteRule ^ index.php [QSA,L]